*{
    margin:0;
    border: 0;
    padding: 0;
}
body{
   
}
.container{
    
    width:1200px;
    margin: 0 auto;
}

nav{
    display: flex;
    align-items: center;
  
  justify-content: space-between;
  padding:50px;

 
}
.nav-a{
    font-weight: 700;
    font-size: 45px;
}
.part{
  
    background-color:yellow;
  
}
.nav-b{
  
    
}
.jamela{
    display: flex;
    gap: 30px;
   
}
.jamela li{
    list-style: none;
   
}
.jamela a{
    color: wheat;
    text-decoration:none;
    display: flex; 
   
    font-size: 18px;
    color: #c92d2d;
}
/*style brand  -----------
----------------*/
.section-brand{
  text-align: center;
  margin-top:96px;
  margin-bottom: 50px;
}
.section-title{
    font-weight: 700;
    font-size: 64px;
}
.section-sub-title{

}
.btn{
    text-align: center;
  margin-bottom: 50px;
}
.btn-primary{
    width: 180px;
    height: 64px;
    background-color: orange;
    color: white;
    margin:0 aut0;
  }
  /*banner style 00-------*/
  .banner{
    width: 1200px;
  }

  
  /*feture style   ---------------*/
  .quick{
    display:flex;
    margin-top: 80px;
    margin-left:50px;
    gap:73px
  }
 
.quick-image{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap:37px;
    grid-row-gap:34px;
}
.quick-text{
    width: 537px;
    height: 304px;
margin-top:210px;
}
.quick-title{
    font-weight: 500;
    font-size: 45px;
    margin-bottom: 24px;}
.quick-sub-title{
        font-weight: 400;
        font-size: 16px;
        margin-bottom: 32px;
                 }
/*  love style text & photo      
  -------------------------
------------------------------*/
.love-section{
    display: flex;
    gap:51px;
    margin-top: 130px;

}
hr{
    width: 4.98px;
height: 106px;
background: #FF900E;
}
.hr-line{
    display: flex;
    gap:10px;
}
.love-text-part{
    width: 500px;
    height: 982px;
    margin-top:30px;
}
.section-title{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-bottom: 20px;
}
.section-sub-title{
font-weight: 400;
font-size: 16px;
margin-bottom:30px;}
.experience{
margin-top: 30px;
display: grid;
grid-template-columns: repeat(1,1fr);
row-gap: 20px;

}
.part{ 
width:450px;
height:130px;
padding:20px;
background: #FFFFFF;
box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
border-radius: 8px;
    }

.part-title{
    font-weight: 600;
font-size: 20px;
margin-top: 30px;
}
.part-sub-title{
    font-weight: 400;
    font-size: 16px;
    margin-top: 10px;
}
.love-picture-part{
    display: flex;
    flex-direction: column;
}
.love-picture-part img{
width:650px;
height:935px;
}


/* 10 yr button*/
.year{
    margin-left:-40px;
    margin-top: -110px;
}
 .btn-yr{
    width:250.2px;
    height:150px;
    background-color: orange;
    border-radius: 8px;
    color: white;
    font-weight: 700;
    font-size:40px;
   

 }  

 /*    ---some fact style--------
 ----------*/
 .some-fact{
    margin-top:100px;
 }
.extra{
    color: #727272;
}
 /*-------------------
        reward style section -----------------*/
 .section-reward{
  display: flex;
  justify-content: space-around;
 margin-top:100px;

 }
.reward-item{
 width: 200px;
 height: 180px;
 border: 1px solid #FF900E;
 border-radius: 8px;
text-align: center;
     }

.item{
 margin-top:35px;
 align-items: center;
    }

.item img{
  width: 45.22px;
 height: 45.22px;
 margin-bottom: 1px;
    }

.number{
 margin-top:1px;
 margin-bottom: 1px;
 font-size:30px;
 color: #424242;
    }

.item-title{
 margin-top:0px;
font-size: 15px;
 color: #727272;
            }
            
 /**sponser style --
            ------------------*/ 
.sponser{
margin-top:90px;
}

 .sponser-text{
text-align: center;
margin-bottom:50px;
            }

 .sponser-name{
display: flex;
gap:90px;

            }
.sponser-name img{
    width: 153.33px;
height: 50px;
}

/** footer style    
----------------**/
.footer{
   margin-top:80px;
   margin-bottom:80px;
height: 100px;
background: #FFF4E7;
border-radius: 8px;
}
.footer-item{
    text-align: center;
    padding:40px;
}